*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  vertical-align: baseline;
}

html,
body {
  scroll-behavior: smooth;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

@font-face {
  font-display: swap;
  font-family: "DINPro-Light";
  font-style: normal;
  font-weight: 300;
  src: font-path("DINPro-Light.woff2") format("woff2"), font-path("DINPro-Light.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DINPro";
  font-style: normal;
  font-weight: 400;
  src: font-path("DINPro.woff2") format("woff2"), font-path("DINPro.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DINPro-Medium";
  font-style: normal;
  font-weight: 500;
  src: font-path("DINPro-Medium.woff2") format("woff2"), font-path("DINPro-Medium.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DINPro-Bold";
  font-style: normal;
  font-weight: 700;
  src: font-path("DINPro-Bold.woff2") format("woff2"), font-path("DINPro-Bold.woff2") format("woff");
}
/* COLORS */
/* OVERLAY */
.text-black {
  color: #1c1c1c !important;
}
.text-white {
  color: #fff !important;
}
.text-grey {
  color: #acacac !important;
}
.text-bs-red {
  color: #ed1c24 !important;
}
.text-light {
  color: #f8f8f8 !important;
}
.text-night-blue {
  color: #323975 !important;
}

.bg-black {
  background-color: #1c1c1c !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-grey {
  background-color: #acacac !important;
}
.bg-bs-red {
  background-color: #ed1c24 !important;
}
.bg-light {
  background-color: #f8f8f8 !important;
}
.bg-night-blue {
  background-color: #323975 !important;
}

html {
  background-color: #323975;
}

a {
  color: inherit;
}
a:hover {
  color: #ed1c24;
}

em {
  color: #ed1c24;
  font-style: normal;
}

strong {
  color: inherit;
  font-family: DINPro-Medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 15px/1.5rem DINPro, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 53px;
}
@media all and (min-width:1024px) {
  h1 {
    font-size: 96px;
    line-height: 106.8px;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
}
@media all and (min-width:1024px) {
  h2 {
    font-size: 48px;
    line-height: 53px;
  }
}

h3 {
  font-size: 28px;
  line-height: 40px;
}
@media all and (min-width:1024px) {
  h3 {
    font-size: 36px;
    line-height: 52px;
  }
}

h4 {
  font-size: 20px;
  line-height: 25px;
}
@media all and (min-width:1024px) {
  h4 {
    font-size: 24px;
    line-height: 36px;
  }
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

.text-bold {
  font-family: DINPro-Bold;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.relative {
  position: relative;
}

.button {
  background-color: #fff;
  border: 0.1rem solid #ed1c24;
  border-radius: 0.2rem;
  color: #ed1c24;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.button:hover {
  background: #ed1c24;
  color: #fff;
}

.container-layout {
  margin: 0 auto;
  max-width: 72.5rem;
  width: 100%;
}
.container-layout.is-medium {
  max-width: 60rem;
}
.container-layout.is-small {
  max-width: 47.5rem;
}
.container-layout.is-smaller {
  max-width: 33.75rem;
}
.container-layout.is-tiny {
  max-width: 28.75rem;
}

/*# sourceMappingURL=app.css.map*/