@use 'sass:math';

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function em($pxval, $base: 16) {
  @if not unitless($pxval) {
    $pxval: strip-unit($pxval);
  }

  @if not unitless($base) {
    $base: strip-unit($base);
  }

  @return math.div($pxval, $base) * 1em;
}

@function rem($pxval, $base: 16) {
  @if not unitless($pxval) {
    $pxval: strip-unit($pxval);
  }

  @if not unitless($base) {
    $base: strip-unit($base);
  }

  @return math.div($pxval, $base) * 1rem;
}
