.text {
  @each $name, $color in $text-colors {
    &-#{$name} {
      color: $color !important;
    }
  }
}

.bg {
  @each $name, $color in $text-colors {
    &-#{$name} {
      background-color: $color !important;
    }
  }
}

html {
  background-color: $night-blue;
}

a {
  color: inherit;

  &:hover {
    color: $primary;
  }
}

em {
  color: $primary;
  font-style: normal;
}

strong {
  color: inherit;
  font-family: DINPro-Medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 15px/1.5rem DINPro, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 53px;
  @include mq('min-desktop') {
    font-size: 96px;
    line-height: 106.8px;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
  @include mq('min-desktop') {
    font-size: 48px;
    line-height: 53px;
  }
}

h3 {
  font-size: 28px;
  line-height: 40px;
  @include mq('min-desktop') {
    font-size: 36px;
    line-height: 52px;
  }
}

h4 {
  font-size: 20px;
  line-height: 25px;
  @include mq('min-desktop') {
    font-size: 24px;
    line-height: 36px;
  }
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}


.text-bold {
  font-family: DINPro-Bold;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.relative {
  position: relative;
}

.button {
  background-color: $white;
  border: 0.1rem solid $primary;
  border-radius: 0.2rem;
  color: $primary;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    background: $primary;
    color: $white;
  }
}

.container-layout {
  margin: 0 auto;
  max-width: rem(1160);
  width: 100%;

  &.is-medium {
    max-width: rem(960);
  }

  &.is-small {
    max-width: rem(760);
  }

  &.is-smaller {
    max-width: rem(540);
  }

  &.is-tiny {
    max-width: rem(460);
  }
}
